{
  "swagger" : "2.0",
  "info" : {
    "version" : "0.0.1",
    "title" : "Application manager swagger",
    "contact" : {
      "name" : "Mahmoud Romih",
      "email" : "mahmoud.romeh@test.com"
    },
    "license" : {
      "name" : "Apache 2.0",
      "url" : "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host" : "service.url:8080",
  "basePath" : "/",
  "tags" : [ {
    "name" : "Applciation demo"
  } ],
  "paths" : {
    "/application" : {
      "get" : {
        "tags" : [ "Applciation demo" ],
        "summary" : "view the list of ALL current active created stored appllication items",
        "description" : "",
        "operationId" : "getAllAlerts",
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/ApplicationEntry"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Applciation demo" ],
        "summary" : "Create an application entry into the application manager",
        "description" : "",
        "operationId" : "createAlert",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/ApplicationEntry"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : ""
          }
        }
      }
    }
  },
  "definitions" : {
    "ApplicationEntry" : {
      "type" : "object",
      "required" : [ "applicationCode", "applicationContent" ],
      "properties" : {
        "applicationContent" : {
          "type" : "object",
          "additionalProperties" : {
            "type" : "string"
          }
        },
        "applicationCode" : {
          "type" : "string"
        }
      }
    }
  }
}